li {
    list-style-type: none;
    display: inline;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.option {
    width: 200px;
    height: 100px;
    margin: 20px;
}